# Aula 05 - Introdução ao List Comprehension e Format

> Nessa aula iremos dar introdução ao list comprehensions, uma forma mais simples de realizar conversões de valores entre duas ou mais listas. Atualmente é uma das formas mais simples de aplicar conversões, substituindo as declarações mais extensas do que o metodo conversional, lambda e o map.

# Exemplo 1 - Conversão de Celcius para Fahrenheint

In [41]:
celsius = [10,20,24,35,50]
faren = [round(x*1.8+32,2) for x in celsius]
print(faren)

[50.0, 68.0, 75.2, 95.0, 122.0]

## Exemplo 2 - Conversão de Kmh para Mph

In [42]:
khm = [20,40,60,80,100]
Mph = [round(x/1.61,2) for x in khm]
print(Mph)

[12.42, 24.84, 37.27, 49.69, 62.11]

In [43]:
print("{:<9}{:<6}".format("Kmh","Mph"))
print("============")
x = 0
while(x<len(khm)) :
    print("{:<7}{:<6}".format(khm[x],Mph[x]))
    x += 1

Kmh      Mph
============
20     12.42
40     24.84
60     37.27
80     49.69
100    62.11

In [44]:
print("{:<11}{:<11}".format("Celsius","Fahrenheit"))
print("=====================")
x = 0
while(x<len(khm)) :
    print("{:<14}{:<6}".format(celsius[x],faren[x]))
    x += 1

Celsius    Fahrenheit
=====================
10            50.0
20            68.0
24            75.2
35            95.0
50            122.0

## Exercícios 1

> Crie uma lista com 10 valores em metros. Crie uma tabela de conversão para polegadas, pés, jardas e mílhas marítimas. Listando o número da linha e o cabeçalho da tabela

In [95]:
num = [0,1,2,3,4,5,6,7,8,9]
metros = [1,2,5,10,25,50,100,250,500,1000]
poleg = [round(x*39.37,2) for x in metros]
pes = [round(x*3.28,2) for x in metros]
jardas = [round(x*1.0936,2) for x in metros]
milhas = [round(x*0.00054,2) for x in metros]
print("{:<13}{:<13}{:<16}{:<14}{:<14}{:<14}".format("N°","Metros","Polegadas","Pés","Jardas","Milhas Marítimas"))
print("======================================================================================")
x = 0
while(x<len(metros)) :
    print("{:<14}{:<14}{:<15}{:<15}{:<19}{:<21}".format(num[x],metros[x],poleg[x],pes[x],jardas[x],milhas[x]))
    x += 1

N°           Metros       Polegadas       Pés           Jardas        Milhas Marítimas
======================================================================================
0             1             39.37          3.28           1.09               0.0
1             2             78.74          6.56           2.19               0.0
2             5             196.85         16.4           5.47               0.0
3             10            393.7          32.8           10.94              0.01
4             25            984.25         82.0           27.34              0.01
5             50            1968.5         164.0          54.68              0.03
6             100           3937.0         328.0          109.36             0.05
7             250           9842.5         820.0          273.4              0.14
8             500           19685.0        1640.0         546.8              0.27
9             1000          39370.0        3280.0         1093.6             0.54

# Exercício 2

> Crie uma lista com 10 valores em Kelvin. Crie uma tabela de conversão para Celsius e Fahrenheit, listando o número da linha e o cabeçalho da tabela

In [4]:
kelvin = [10,20,50,100,250,500,1000,1250,1500,2000]
cel = [round(x-273,2) for x in kelvin]
fah = [round((x-273)*9/5 + 32.2,2) for x in kelvin]
print("{:<13}{:<13}{:<13}{:<14}".format("N°","Kelvin","Celsius","Fahrenheit"))
print("=================================================")
for v in range(0,len(kelvin),1) :
    print("{:<13}{:<13}{:<14}{:<14}".format(v,kelvin[v],cel[v],fah[v]))

N°           Kelvin       Celsius      Fahrenheit
=================================================
0            10           -263          -441.2
1            20           -253          -423.2
2            50           -223          -369.2
3            100          -173          -279.2
4            250          -23           -9.2
5            500          227           440.8
6            1000         727           1340.8
7            1250         977           1790.8
8            1500         1227          2240.8
9            2000         1727          3140.8

# Exercício 3

> Crie um uma lista com 10 pesos em quilos. Faça a conversão para o peso na Terra, Lua, Júpiter, Saturno e Mercúrio. Monte uma tabela com o cabeçalho e a numeração conforme os exercícios passados.

In [18]:
kilos = [10,25,50,100,200,300,400,500,750,1000]
terra = kilos
lua = [round(x/9.81*1.62,4) for x in kilos]
jup = [round(x/9.81*24.79,4) for x in kilos]
saturno = [round(x/9.81*10.44,4) for x in kilos]
mercurio = [round(x/9.81*3.7,4) for x in kilos]
print("{:<13}{:<15}{:<13}{:<14}{:<13}{:<14}".format("N°","Terra","Lua","Jupíter","Saturno","Mercúrio"))
print("==============================================================================")
for a in range(0,len(kilos),1) :
    print("{:<14}{:<13}{:<14}{:<14}{:<14}{:<14}".format(a,terra[a],lua[a],jup[a],saturno[a],mercurio[a]))

N°           Terra          Lua          Jupíter       Saturno      Mercúrio
==============================================================================
0             10           1.6514        25.2701       10.6422       3.7717
1             25           4.1284        63.1753       26.6055       9.4292
2             50           8.2569        126.3507      53.211        18.8583
3             100          16.5138       252.7013      106.422       37.7166
4             200          33.0275       505.4027      212.844       75.4332
5             300          49.5413       758.104       319.2661      113.1498
6             400          66.055        1010.8053     425.6881      150.8665
7             500          82.5688       1263.5066     532.1101      188.5831
8             750          123.8532      1895.2599     798.1651      282.8746
9             1000         165.1376      2527.0133     1064.2202     377.1662